<h1 mat-dialog-title>{{dialogTitle}}</h1>
<mat-dialog-content>
    <mat-form-field>
        <input matInput required [placeholder]="officeNamePlaceholder" [(ngModel)]="postOfficeName">
    </mat-form-field>
    <mat-form-field>
        <input matInput required [placeholder]="postalCodePlaceholder" [(ngModel)]="PLZ">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="!postOfficeName || !PLZ" class="post-office-add-edit-btn" (click)="addPostOffice()">{{
        dialogButtonText }}</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
</mat-dialog-actions>