<div class="shipments-container flex flex-row">
  <div class="shipments-filters flex flex-col">
    <div class="filter-heading flex flex-row">
      <div class="filter-text">
        <p>FILTERS</p>
      </div>
      <div class="clear-filter-btn-wrapper flex" *ngIf="showClearFilterbtn">
        <div class="clear-filter-btn flex flex-center" (click)="clearFilters()">
          Clear
        </div>
      </div>
    </div>
    <form class="search-filter-wrapper m-t-1rem ">
      <mat-form-field class="search-filter m-t-1rem">
        <input matInput type="text" name="search" placeholder="Search for a Shipment" autocomplete="on" [(ngModel)]="searchText">
      </mat-form-field>
    </form>

    <div class="radio-btn-wrapper flex flex-col m-t-1rem ">
      <label id="shipment-weight-radio-group-label">Filter by Shipment Weight:</label>
      <mat-radio-group aria-labelledby="shipment-weight-label" class="radio-group flex flex-col" [(ngModel)]="selectedShipmentWeight"
        (change)="filterbyShipmentWeight($event)">
        <mat-radio-button class="radio-button" *ngFor="let weight of shipmentWeights" [value]="weight.id">
          {{weight.desc}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="radio-btn-wrapper flex flex-col">
      <label id="shipment-type-group-label">Filter by Shipment Type:</label>
      <mat-radio-group aria-labelledby="shipment-type-label" class="radio-group flex flex-col" [(ngModel)]="selectedShipmentType"
        (change)="filterbyShipmentType($event)">
        <mat-radio-button class="radio-button" *ngFor="let type of shipmentType" [value]="type.id">
          {{type.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="shipment-tracking-checkbox-wrapper m-t-1rem flex flex-col">
      <label id="shipment-tracking-status">Filter by Shipment Tracking:</label>
      <mat-checkbox (change) = "filterByShipmentOrigin($event)" class="shipment-tracking-checkbox" [(ngModel)]="selectedShipmentOrigin">Origin</mat-checkbox>
      <mat-checkbox (change) = "filterByShipmentDestination($event)" class="shipment-tracking-checkbox" [(ngModel)]="selectedShipmentDestination">Destination</mat-checkbox>
      <mat-checkbox (change) = "filterByShipmentDelivered($event)" class="shipment-tracking-checkbox" [(ngModel)]="shipmentdelivered">Delivered</mat-checkbox>
    </div>
  </div>
  <div class="shipments-wrapper flex-center">
    <div class="shipment-header flex flex-row">
      <div class="shipment-count">{{ shipments.length }} results found</div>
      <div class="shipment-btn-wrapper flex">
        <div class="add-shipment-btn flex flex-center" (click)="addNewShipment()">Add New Shipment</div>
      </div>
    </div>
    <div class="shipments flex flex-row">
      <div *ngFor=" let shipment of shipments | filter:searchText | paginate: { itemsPerPage: 6, currentPage: p }"
        class="shipment-wrapper flex flex-col">
        <app-shipment-list-item [shipment]="shipment" (updateShipment)="updateShipment($event)" (deleteShipment)="deleteShipment($event)"></app-shipment-list-item>
      </div>
    </div>
    <div class="pagination-wrapper">
      <pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
    </div>
  </div>
</div>