@import "../../../../styles.scss";

.dialog-title {
  margin-bottom: 1rem;
}

.shipment-tracking-checkbox-wrapper {
  .shipment-tracking-checkbox {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

.post-office-add-edit-btn{
  background-color: $primary-color;
  color: $text-white;
}