<div class="dialog-title">
    <h2>{{dialogTitle}} </h2>
    <mat-icon class="m-l-1rem">next_week</mat-icon>
</div>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Select A Post Office
        </mat-label>
        <mat-select [(value)]="selectedPostOffice">
            <mat-option *ngFor="let postOffice of postOfficeMap" [value]="postOffice.id">
                {{postOffice.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="radio-btn-wrapper">
        <label id="shipment-weight-radio-group-label">{{ buttonText }}Select Shipment Weight:</label>
        <mat-radio-group aria-labelledby="shipment-weight-label" class="radio-group" [(ngModel)]="selectedShipmentWeight">
            <mat-radio-button class="radio-button" *ngFor="let weight of shipmentWeights" [value]="weight.id">
                {{weight.desc}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="radio-btn-wrapper">
        <label id="shipment-type-group-label">{{ buttonText }} Shipment Type:</label>
        <mat-radio-group aria-labelledby="shipment-type-label" class="radio-group" [(ngModel)]="selectedShipmentType">
            <mat-radio-button class="radio-button" *ngFor="let type of shipmentType" [value]="type.id">
                {{type.name}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="shipment-tracking-checkbox-wrapper">
        <label id="shipment-tracking-status">{{ buttonText }}Select Shipment Tracking:</label>
        <mat-checkbox class="shipment-tracking-checkbox" [(ngModel)]="selectedShipmentOrigin">Origin</mat-checkbox>
        <mat-checkbox class="shipment-tracking-checkbox" [(ngModel)]="selectedShipmentDestination">Destination</mat-checkbox>
        <mat-checkbox class="shipment-tracking-checkbox" [(ngModel)]="shipmentdelivered">Delivered</mat-checkbox>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="post-office-add-edit-btn" (click)="addShipment()">{{ buttonText }}</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
</mat-dialog-actions>