@import "../../../../styles.scss";
.radio-button {
  margin: 5px;
}

.radio-btn-wrapper {
  margin-top: 1rem;
  .radio-group {
    margin: 15px 0;
  }
}

.dialog-title {
  margin-bottom: 1rem;
}

.shipment-tracking-checkbox-wrapper {
  .shipment-tracking-checkbox {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

.post-office-add-edit-btn{
  background-color: $primary-color;
  color: $text-white;
}