/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// global-colors
$primary-color: #347cff;
$text-white: rgb(255, 255, 255);
$text-dark-white: rgb(223, 222, 222);
$text-red: rgb(255, 0, 0);
$text-green: rgb(0, 151, 13);
$text-yellow: #ffc107;

// global paddings
$app-padding: 1rem;
.m-t-1rem {
  margin-top: 1rem;
}
.m-l-1rem {
  margin-left: 1rem;
}

// global font-sizes
$small-font-size: 12px;

$card-bg: #fafafa;
$border-color: #dcdcdc;

// global flex browser specific layouts
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

// global mixin

@mixin md-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size;
  width: $size;
  line-height: $size;
}

.bottom-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 1px solid $border-color;
  .edit-btn,
  .delete-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0.7rem;
    cursor: pointer;
    &:hover {
      background: $border-color;
    }
  }
  .edit-btn {
    border-right: 1px solid $border-color;
    color: $primary-color !important;
    .edit-icon {
      color: $primary-color !important;
      margin-right: 2px;
    }
  }

  .delete-btn {
    color: $text-red !important;
    .delete-icon {
      color: $text-red !important;
      margin-right: 2px;
    }
  }
}

//global radio-btns-css

.radio-button {
  margin: 5px;
}

.radio-btn-wrapper {
  margin-top: 1rem;
  .radio-group {
    margin: 15px 0;
  }
}

//global mat-checkbox style

.shipment-tracking-checkbox-wrapper {
  .shipment-tracking-checkbox {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

// global pagination-css
.pagination-wrapper {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .post-office-wrapper {
    width: 100%;
  }
  .shipment-wrapper {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .post-office-wrapper,
  .shipment-wrapper {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .post-office-wrapper {
    width: 30%;
  }
  .shipment-wrapper {
    width: 45%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .post-office-wrapper {
    width: 25%;
  }
  .shipment-wrapper {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .post-office-wrapper {
    width: 20%;
  }
  .shipment-wrapper {
    width: 28%;
  }
}

::ng-deep .mat-list-base .mat-list-option {
  font-size: 14px !important;
}
